page-login {
  .error-message
  {
   color: #bf3e3e;
  }

  .go-to-register
  {
    text-align: center;
    margin-top: 20px;
  }

  .submit-btn
  {
    border-radius: 6px;
	  font-size: 1.6rem;
    font-weight: 500;
  }
}
