.error-message
{
  color: var(--ion-color-danger);
}

.success-message
{
  color: var(--ion-color-success);
}

.go-to-login
{
  text-align: center;
  margin-top: 20px;
}

.submit-btn
{
  margin-top: 40px;
}
